<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(SampleApp.Shared.MainLayout).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(SampleApp.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(SampleApp.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
